.sidebar {
  background-color: var(--sidebar-bg-clr);
  transition: var(--transition);

  display: flex;
  gap: 1rem;
  flex-direction: column;

  padding: 1rem;
  min-height: 100vh;
  width: 300px;
}

.sidebar-collapsed {
  transform: translateX(-300px);
}

.sidebar__header {
  display: flex;
  align-items: center;

  position: relative;

  height: 2rem;
}

.sidebar__open-close-sidebar-btn {
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  transition: var(--transition);

  position: absolute;
  right: 0;

  border: none;
  width: 2rem;
}

.sidebar__open-close-sidebar-btn-sidebar-collapsed {
  right: -4rem;
}

.sidebar__open-close-sidebar-icon {
  fill: var(--primary-font-clr);
}

.sidebar__add-task-btn {
  appearance: none;
  background-color: var(--secondary-bg-clr);
  border-radius: 8px;
  color: var(--secondary-font-clr);
  cursor: pointer;
  transition: var(--transition);

  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  border: none;
  padding: 0.5rem 0;
  width: 100%;
}

.sidebar__add-task-btn:hover {
  background-color: color-mix(in srgb, var(--secondary-bg-clr) 75%, #000000 25%);
}

.sidebar__add-task-icon {
  fill: var(--secondary-font-clr);
  max-width: 1rem;
}

.sidebar__section-block {}

.sidebar__section-title {
  font-size: 1.25rem;
  font-weight: 500;
}

.sidebar__section-list {
  display: flex;
  gap: 2px;
  flex-direction: column;
}

.sidebar__section-list-item {}

.sidebar__section-list-item-btn {
  appearance: none;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: var(--transition);
  text-align: start;

  border: none;
  padding-left: 1ch;
  height: 2rem;
  width: 100%;
}

.sidebar__section-list-item-btn:hover {
  background-color: color-mix(in srgb, var(--secondary-bg-clr) 10%, #FFFFFF 90%);
}

.sidebar__section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 0.5rem;
}

.sidebar__add-project-button {
  appearance: none;
  background-color: transparent;
  cursor: pointer;

  border: none;
  width: 1rem;
}

.sidebar__add-project-icon {
  fill: var(--primary-font-clr);
}