.project-section__list-item {
  transition: all 0.15s ease-in-out;

  display: flex;
  align-items: center;

  height: 2.25rem;
  width: 100%;
}

.project-section__open-section-btn {
  background-color: transparent;
  text-align: start;

  border: none;
  padding-left: 1ch;
  height: 100%;
  width: 100%;
}

.project-section__project-control-btn {
  aspect-ratio: 1 / 1;
  appearance: none;
  background-color: transparent;
  transition: all 0.15s ease-in-out;

  border: none;
  margin-left: 0.5ch;
  height: 70%;
}

.project-section__project-control-btn:active {
  transform: scale(0.925);
}

.project-section__project-control-icon {
  fill: var(--font-color);
  transition: all 0.15s ease-in-out;
}

@media (hover: hover) {
  .project-section__list-item:hover {
    background-color: color-mix(in srgb, var(--bg-color) 50%, var(--main-bg-color) 50%);
  }

  .project-section__project-control-btn {
    opacity: 0;
  }

  .project-section__list-item:hover .project-section__project-control-btn {
    opacity: 1;
  }

  .project-section__project-control-icon {
    opacity: 0.75;
  }

  .project-section__project-control-btn:hover .project-section__project-control-icon {
    opacity: 1;
  }
}