@import url("./styles/fonts.css");
@import url("./styles/reset.css");
@import url("./styles/color-schemes.css");

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}