.project-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.project-section__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
}