.content {
  background-color: var(--main-bg-color);

  margin-top: 5rem;
  padding: 1rem 1rem 0 1rem;
  width: 100%;
}

.content__title {
  font-size: 1.5rem;
  font-weight: 500;

  margin-bottom: 1rem;
}

.content__project-section {
  margin-bottom: 2rem;
  padding-left: 1ch;
}

.content__project-section-title {
  font-size: 1.25rem;
  font-weight: 500;

  margin-bottom: 1rem;
  margin-top: 1rem;
}