.light {
  --bg-color: #FFFFFF;
  --font-color-for-btn-with-primary-bg: #F3F7F0;
  --font-color: #2F2F2F;
  --main-bg-color: #F3F7F0;
  --primary-color: #DC4C3E;
}

.dark {
  --bg-color: #282828;
  --font-color-for-btn-with-primary-bg: #F3F7F0;
  --font-color: #F3F7F0;
  --main-bg-color: #1F1F1F;
  --primary-color: #DC4C3E;
}