<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your ToDo List</title>
</head>

<body>
  <div class="wrapper">
    <%= require('html-loader!./UI/components/sidebar/sidebar.html').default %>
    <div class="content">
      <%= require('html-loader!./UI/components/header/header.html').default %>
      <%= require('html-loader!./UI/components/main/main.html').default %>
    </div>
  </div>
</body>

</html>